# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* list popular languages
* list popular libraries
* create a table for Data Science Tools
* arithmetic exercises

Popular Languages for Data Science:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Popular Libraries for Data Science:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Science Tools |
| ---- |
| Juypter Notebook|
| MondoDB |
| elasticsearch |
| kafka |
| PixieDust|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
# multiply and add cells together
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Dumbledore